@{
    ViewData["Title"] = "Home Page";
}

<div id="page_wrapper">

    <div class="row">

        <!--	Start Main Banner
        ==================================================-->
        <section id="main_banner" class="banner_water_effect background10 overlay_one">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-md-12 col-lg-12 home-content text-left">
                        <div class="mainbanner_content">
                            <span class="pb_5 banner_title color_white">I Am Anurag Kher  !</span>
                            <h1 class="cd-headline clip is-full-width text-uppercase">
                                <span class="color_white">I am a</span>
                                <span class="cd-words-wrapper color_default">
                                    <b class="is-visible">UI/UX Designer.</b>
                                    <b>Developer.</b>
                                    <b>Freelancer.</b>
                                </span>
                            </h1>
                   
                            <p class="color_white mb_30">
                                I am a passionate, hard working writer looking for the next great story to tell. I am always looking for new freelance and professional opportunities.
                                I am learning Javascript, .NET, and React[ Photo ].
                                Let's make something astounding together..
                            </p>
                            <a class="btn btn-default" href="#">Download CV</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--	End Main Banner
        ==================================================-->
    </div>
</div>






