@{
    ViewData["Title"] = "Portfolio Page";
}

<!--	Start Portfolio
       ===================================================-->
<section id="portfolio" class="py_80 bg_deepblack full_row">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="section_title_1 text-center mx-auto pb_60 wow animated slideInUp">
                    <h2 class="title text-uppercase color_white"><span class="line_double mx-auto color_default">portfolio</span>Recent Projects</h2>
                    <span class="sub_title color_lightgray">Interdum a etiam sagittis vehicula porta. Massa felis eros quam blandit nulla dolor habitant. Ullamcorper quis ornare et proin pellentesque.</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="my_portfolio" id="tab-panel">
                    <!--Filter-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filters mb_30 w-100 text-center color_lightgray">
                                <ul class="filter-tabs mx-auto d-inline-block">
                                    <li class="active filter" data-role="button" data-filter="all">All</li>
                                    <li class="filter" data-role="button" data-filter=".design">Web Design</li>
                                    <li class="filter" data-role="button" data-filter=".wordpress">Wordpress</li>
                                    <li class="filter" data-role="button" data-filter=".development">Web Development</li>
                                    <li class="filter" data-role="button" data-filter=".branding">Branding</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="filter-list">
                        <div class="portfolio-items">
                            <div class="row">
                                <div class="column mix mix_all graphic development wordpress mb_30 col-md-4 col-lg-4">
                                    <div class="default-portfolio-item">
                                        <a href="images/portfolio/01.jpg" data-fancybox="gallery">
                                            <img src="~/images/portfolio/01.jpg" alt="image" />
                                            <div class="overlay-box">
                                                <span><i class="fa fa-eye" aria-hidden="true"></i></span>
                                                <div class="tag">
                                                    <ul>
                                                        <li>Web Development,</li>
                                                        <li>wordpress</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="column mix mix_all graphic branding mb_30 col-md-4 col-lg-4">
                                    <div class="default-portfolio-item">
                                        <a href="images/portfolio/02.jpg" data-fancybox="gallery">
                                            <img src="~/images/portfolio/02.jpg" alt="image" />
                                            <div class="overlay-box">
                                                <span><i class="fa fa-eye" aria-hidden="true"></i></span>
                                                <div class="tag">
                                                    <ul>
                                                        <li>Branding,</li>
                                                        <li>Wordpress</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="column mix mix_all design wordpress development mb_30 col-md-4 col-lg-4">
                                    <div class="default-portfolio-item">
                                        <a href="images/portfolio/03.jpg" data-fancybox="gallery">
                                            <img src="~/images/portfolio/03.jpg" alt="image" />
                                            <div class="overlay-box">
                                                <span><i class="fa fa-eye" aria-hidden="true"></i></span>
                                                <div class="tag">
                                                    <ul>
                                                        <li>Web Design,</li>
                                                        <li>Web Development</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="column mix mix_all graphic wordpress branding mb_30 col-md-4 col-lg-4">
                                    <div class="default-portfolio-item">
                                        <a href="images/portfolio/04.jpg" data-fancybox="gallery">
                                            <img src="~/images/portfolio/04.jpg" alt="image" />
                                            <div class="overlay-box">
                                                <span><i class="fa fa-eye" aria-hidden="true"></i></span>
                                                <div class="tag">
                                                    <ul>
                                                        <li>Branding,</li>
                                                        <li>wordpress</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="column mix mix_all graphic design branding mb_30 col-md-4 col-lg-4">
                                    <div class="default-portfolio-item">
                                        <a href="images/portfolio/05.jpg" data-fancybox="gallery">
                                            <img src="~/images/portfolio/05.jpg" alt="image" />
                                            <div class="overlay-box">
                                                <span><i class="fa fa-eye" aria-hidden="true"></i></span>
                                                <div class="tag">
                                                    <ul>
                                                        <li>Web Design,</li>
                                                        <li>wordpress</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="column mix mix_all development wordpress design mb_30 col-md-4 col-lg-4">
                                    <div class="default-portfolio-item">
                                        <a href="images/portfolio/06.jpg" data-fancybox="gallery">
                                            <img src="~/images/portfolio/06.jpg" alt="image" />
                                            <div class="overlay-box">
                                                <span><i class="fa fa-eye" aria-hidden="true"></i></span>
                                                <div class="tag">
                                                    <ul>
                                                        <li>Web Design,</li>
                                                        <li>Web Development</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--	End Portfolio
===================================================-->
