@{
    ViewData["Title"] = "Service Page";
}

<!--	Start Services
       ===================================================-->
<section id="services" class="py_80 bg_black full_row">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="section_title_1 text-center mx-auto pb_60 wow animated slideInUp">
                    <h2 class="title text-uppercase color_white"><span class="line_double mx-auto color_default">services</span>What i do</h2>
                    <span class="sub_title color_lightgray">Interdum a etiam sagittis vehicula porta. Massa felis eros quam blandit nulla dolor habitant. Ullamcorper quis ornare et proin pellentesque.</span>
                </div>
            </div>
            <div class="services_item1">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="service_two bg_gray color_lightgray text-center pt_15 mb_30 wow animated slideInUp">
                                <div class="srv_item_number color_lightgray"><strong>01.</strong></div>
                                <h3 class="p_20 text-uppercase color_primary">Web Design</h3>
                                <div class="srv_icon color_white"><span class="flaticon-website-design-symbol"></span></div>
                                <p>Proin a ullamcorper et primis lobortis laoreet senectus. Vitae dignissim sollicitudin eleifend cursus tempus curabitur posuere nam arcu platea sodales.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="service_two bg_gray color_lightgray text-center pt_15 mb_30 wow animated slideInUp">
                                <div class="srv_item_number color_lightgray"><strong>02.</strong></div>
                                <h3 class="p_20 text-uppercase color_primary">Web Development</h3>
                                <div class="srv_icon color_white"><span class="flaticon-programming"></span></div>
                                <p>Proin a ullamcorper et primis lobortis laoreet senectus. Vitae dignissim sollicitudin eleifend cursus tempus curabitur posuere nam arcu platea sodales.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="service_two bg_gray color_lightgray text-center pt_15 mb_30 wow animated slideInUp">
                                <div class="srv_item_number color_lightgray"><strong>03.</strong></div>
                                <h3 class="p_20 text-uppercase color_primary">Wordpress</h3>
                                <div class="srv_icon color_white"><span class="flaticon-wordpress-logo"></span></div>
                                <p>Proin a ullamcorper et primis lobortis laoreet senectus. Vitae dignissim sollicitudin eleifend cursus tempus curabitur posuere nam arcu platea sodales.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="service_two bg_gray color_lightgray text-center pt_15 mb_30 wow animated slideInUp">
                                <div class="srv_item_number color_lightgray"><strong>04.</strong></div>
                                <h3 class="p_20 text-uppercase color_primary">Graghic Design</h3>
                                <div class="srv_icon color_white"><span class="flaticon-editor"></span></div>
                                <p>Proin a ullamcorper et primis lobortis laoreet senectus. Vitae dignissim sollicitudin eleifend cursus tempus curabitur posuere nam arcu platea sodales.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="service_two bg_gray color_lightgray text-center pt_15 mb_30 wow animated slideInUp">
                                <div class="srv_item_number color_lightgray"><strong>05.</strong></div>
                                <h3 class="p_20 text-uppercase color_primary">Branding</h3>
                                <div class="srv_icon color_white"><span class="flaticon-internet"></span></div>
                                <p>Proin a ullamcorper et primis lobortis laoreet senectus. Vitae dignissim sollicitudin eleifend cursus tempus curabitur posuere nam arcu platea sodales.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="service_two bg_gray color_lightgray text-center pt_15 mb_30 wow animated slideInUp">
                                <div class="srv_item_number color_lightgray"><strong>06.</strong></div>
                                <h3 class="p_20 text-uppercase color_primary">Opencart</h3>
                                <div class="srv_icon color_white"><span class="flaticon-shopping-cart"></span></div>
                                <p>Proin a ullamcorper et primis lobortis laoreet senectus. Vitae dignissim sollicitudin eleifend cursus tempus curabitur posuere nam arcu platea sodales.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--	End Services
===================================================-->
