@{
    ViewData["Title"] = "Skill Page";
}

<div id="page_wrapper">
    <div class="row">
<!--	Start Skill ===================================================-->
<section id="skill" class="py_80 bg_deepblack full_row">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="section_title_1 text-center mx-auto pb_60 wow animated slideInUp">
                    <h2 class="title text-uppercase color_white"><span class="line_double mx-auto color_default">skill</span>Design skill</h2>
                    <span class="sub_title color_lightgray">Interdum a etiam sagittis vehicula porta. Massa felis eros quam blandit nulla dolor habitant. Ullamcorper quis ornare et proin pellentesque.</span>
                </div>
            </div>
        </div>
        <div class="my_skill">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="about_myskill color_lightgray wow animated fadeInLeft">
                        <h2 class="color_lightgray">Some talk about my professional design skill</h2>
                        <p class="pt_15">At mattis condimentum leo cubilia dictumst purus cubilia nisl quisque lacus ultricies proin massa fermentum placerat sociosqu ornare felis ultricies taciti mauris. Tempor mi, cum a condimentum commodo bibendum risus mauris natoque molestie tellus. In iaculis ad augue gravida posuere.</p>
                        <p class="pt_15">Lectus neque fames lacinia magnis primis. Dictumst torquent dictumst. Bibendum et rutrum feugiat fames interdum purus feugiat praesent Nunc vivamus habitant nam ultricies est. Massa amet cubilia, vitae nonummy nisl. Rutrum mus velit vivamus sapien est.</p>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="skill-progress wow animated slideInRight color_lightgray">
                        <div class="prgs-bar fact-counter">
                            <span>HTML</span>
                            <div class="progress count wow" data-wow-duration="15ms">
                                <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="90">90</span>%</div>
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemax="100"> </div>
                            </div>
                        </div>
                        <div class="prgs-bar fact-counter">
                            <span>CSS</span>
                            <div class="progress count wow" data-wow-duration="0ms">
                                <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="95">95</span>%</div>
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemax="100"> </div>
                            </div>
                        </div>
                        <div class="prgs-bar fact-counter">
                            <span>JQuery</span>
                            <div class="progress count wow" data-wow-duration="0ms">
                                <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="85">85</span>%</div>
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemax="100"> </div>
                            </div>
                        </div>
                        <div class="prgs-bar fact-counter">
                            <span>PHP</span>
                            <div class="progress count wow" data-wow-duration="0ms">
                                <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="90">90</span>%</div>
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemax="100"> </div>
                            </div>
                        </div>
                        <div class="prgs-bar fact-counter">
                            <span>Wordpress</span>
                            <div class="progress count wow" data-wow-duration="0ms">
                                <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="90">90</span>%</div>
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemax="100"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--	End Skill ===================================================-->
<!--	Start Experience and Projects ===================================================-->
<div class="experience background2 overlay_two py_60 full_row">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="fact-counter">
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <div class="counter count wow text-center" data-wow-duration="300ms">
                                <span class="flaticon-man-working-on-a-laptop-from-side-view"></span>
                                <div class="counting_digit color_default mt_15">
                                    <h2 class="count-num" data-speed="3000" data-stop="2">2</h2><span>+</span>
                                </div>
                                <h3 class="color_white mt_15">Years of Experience</h3>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="counter count wow text-center" data-wow-duration="300ms">
                                <span class="flaticon-half-time-work"></span>
                                <div class="counting_digit color_default mt_15">
                                    <h2 class="count-num" data-speed="3000" data-stop="10">10</h2><span>+</span>
                                </div>
                                <h3 class="color_white mt_15">Porjects Done</h3>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="counter count wow text-center" data-wow-duration="300ms">
                                <span class="flaticon-happy"></span>
                                <div class="counting_digit color_default mt_15">
                                    <h2 class="count-num" data-speed="3000" data-stop="10">10</h2><span>+</span>
                                </div>
                                <h3 class="color_white mt_15">Happy Clients</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!--	End Experience and Projects  ===================================================-->
